/*
    Listless Header navigation.
*/
header nav a,
header nav > div {
    display: inline-block;
    padding: 1rem;
    color: black;
    text-decoration: none;
}

    header nav a:hover,
    header nav > div:hover {
        background: #232323;
        color: #EFEFEF;
    }

    /* Drop down menu. */
    header nav > div > div {
        display: none;
        position: absolute;
        background-color: aliceblue;
    }

        header nav > div > div > a {
            display: block;
            padding: 0.5rem 1rem 0.5rem 1rem;
        }

    header nav > div:hover > div {
        display: block;
        position: absolute;
        z-index: 1;
        margin-top: 1rem;
        margin-left: -1rem;
        border-right: thin solid gray;
        border-bottom: thin solid gray;
        border-left: thin solid gray;
    }