

/* 1. Reset –––––––––––––––––––––––––––––––––––––––––––– */

/* Tiny Reset for block elements  */
* { box-sizing: border-box; border-spacing: 0; }

body {
    height: 100vh;
	margin: 0rem;
    padding: 0rem;
	overflow-x: auto;
	overflow-y: hidden;
}

header, footer, figure, table, video, details, blockquote,
ul, ol, dl, fieldset, pre, pre > code, caption {
	display: block;
	margin: 0rem;
    padding: 0rem;
	overflow-x: auto;
	overflow-y: hidden;
	text-align: left;
}

video, summary, input, select { outline:none; }

/* reset clickable things */
a, button, select, summary { cursor: pointer; }


